// Post listing
.category-title {
  clear: left;
  padding-top: 30px;
  text-align: center;
}

.post-list {
  @extend %padding-regular;
  clear: left;
  padding-top: $padding-small;
  list-style: none;
  li{
    a{
      font-weight: bold;
    }
  }
}
